/* Rectangle 535 */
/* Rectangle 471 */

position: absolute;
width: 269px;
height: 130px;

background: #FCFFDD;
border-radius: 10px;

position: absolute;
width: 269px;
height: 130px;

background: #CFEDED;
border-radius: 10px;


/* Rectangle 471 */

position: absolute;
width: 269px;
height: 130px;

background: #FCFFDD;
border-radius: 10px;


/* Line 17 */

position: absolute;
width: 269px;
height: 0px;

border: 1px solid #000000;


/* Comunidad */

position: absolute;
width: 345px;
height: 58px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;




position: absolute;
width: 970px;
height: 777px;
left: 427px;
top: 171px;

background: #FFFFFF;
border-radius: 30px;




/* Rectangle 469 */

position: absolute;
width: 347px;
height: 780px;

background: linear-gradient(0deg, rgba(249, 246, 246, 0.71), rgba(249, 246, 246, 0.71)), rgba(255, 255, 255, 0.36);
border-radius: 30px;


/* Angie */

position: absolute;
width: 127px;
height: 51px;
left: 1245px;
top: 10px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
/* identical to box height */

color: #000000;



/* Naufal Aziz 9 */

box-sizing: border-box;

position: absolute;
width: 76px;
height: 76px;
left: 1352px;
top: 10px;

background: url(angyy.png);
border: 2px solid #FF0000;
border-radius: 78.5px;



/* Polygon 6 */

position: absolute;
width: 57px;
height: 20px;
left: 1331px;
top: 81px;

background: #000000;
border-radius: 2px;
transform: rotate(-180deg);



/* Polygon 6 */

position: absolute;
width: 57px;
height: 20px;
left: 1331px;
top: 81px;

background: #000000;
border-radius: 2px;
transform: rotate(-180deg);


/* Angie */

position: absolute;
width: 127px;
height: 51px;
left: 1245px;
top: 10px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
/* identical to box height */

color: #000000;



/* Polygon 10 */

position: absolute;
width: 57px;
height: 67px;
left: 1058px;
top: 21px;

background: #000000;
border-radius: 5px;
transform: rotate(90deg);




/* Frame 1 */

position: relative;
width: 1440px;
height: 1024px;


/* Desktop - 1 */

position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: linear-gradient(90deg, #C1DFC4 0%, #DEECDD 100%);


/* Rectangle 490 */

position: absolute;
width: 970px;
height: 777px;
left: 427px;
top: 171px;

background: #FFFFFF;
border-radius: 30px;


/* Rectangle 491 */

position: absolute;
width: 921px;
height: 576px;
left: 449px;
top: 252px;

background: #FCFFDD;
border-radius: 10px;


/* Rectangle 498 */

box-sizing: border-box;

position: absolute;
width: 1440px;
height: 101px;
left: 0px;
top: 0px;

background: #FCFFDD;
border-bottom: 4px solid #000000;
border-radius: 0px;


/* Angie */

position: absolute;
width: 127px;
height: 51px;
left: 1245px;
top: 10px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
/* identical to box height */

color: #000000;



/* menu */

position: absolute;
width: 169px;
height: 53px;
left: 210px;
top: 32px;



/* Rectangle 504 */

position: absolute;
left: 35.67%;
right: 13.38%;
top: -12.26%;
bottom: 16.04%;

background: #CFEDED;
border-radius: 10px;


/* menu */

position: absolute;
width: 227px;
height: 53px;
left: 284px;
top: 32px;



/* Chat */

position: absolute;
left: 16.39%;
right: 72.88%;
top: 3.03%;
bottom: 93.85%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;


/* Grupos */

position: absolute;
left: 23.82%;
right: 65.45%;
top: 3.03%;
bottom: 93.85%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;


/* Mundo */

position: absolute;
left: 32.15%;
right: 57.11%;
top: 3.03%;
bottom: 93.85%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;


/* Polygon 6 */

position: absolute;
width: 57px;
height: 20px;
left: 1331px;
top: 81px;

background: #000000;
border-radius: 2px;
transform: rotate(-180deg);


/* Naufal Aziz 9 */

box-sizing: border-box;

position: absolute;
width: 76px;
height: 76px;
left: 1352px;
top: 10px;

background: url(angyy.png);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Rectangle 492 */

position: absolute;
width: 554px;
height: 92px;
left: 442px;
top: 839px;

background: #CFEDED;
border-radius: 10px;


/* Rectangle 499 */

position: absolute;
width: 921px;
height: 92px;
left: 449px;
top: 841px;

background: #CFEDED;
border-radius: 10px;


/* Rectangle 493 */

position: absolute;
width: 792px;
height: 130px;
left: 568px;
top: 259px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)), #FFFFFF;
border-radius: 10px;


/* Rectangle 494 */

position: absolute;
width: 796px;
height: 412px;
left: 463px;
top: 407px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)), #FFFFFF;
border-radius: 10px;


/* Naufal Aziz 7 */

box-sizing: border-box;

position: absolute;
width: 94px;
height: 94px;
left: 1266px;
top: 558px;

background: url(angyy.png);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Naufal Aziz 8 */

box-sizing: border-box;

position: absolute;
width: 92px;
height: 92px;
left: 463px;
top: 271px;

background: url(brad.png);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Brad */

position: absolute;
width: 107px;
height: 62px;
left: 448px;
top: 196px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;



/* Lired */

position: absolute;
width: 301px;
height: 59px;
left: 30px;
top: 10px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 70px;
text-align: center;

color: #000000;



/* Line 19 */

position: absolute;
width: 924px;
height: 0px;
left: 449px;
top: 247px;

border: 1px solid #000000;


/* Hola Angie, te escribo para que me ayudes. Estoy teniendo problemas */

position: absolute;
width: 761px;
height: 168px;
left: 587px;
top: 271px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;

color: #000000;



/* Rectangle 495 */

position: absolute;
width: 5px;
height: 94px;
left: 1375px;
top: 383px;

background: rgba(128, 128, 128, 0.47);
border-radius: 47px;


/* Escribir... */

position: absolute;
width: 362px;
height: 59px;
left: 488px;
top: 858px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;



/* Polygon 9 */

position: absolute;
width: 57px;
height: 67px;
left: 1366px;
top: 858px;

background: #000000;
border-radius: 5px;
transform: rotate(90deg);


/* Rectangle 496 */

position: absolute;
width: 836px;
height: 70px;
left: 463px;
top: 852px;

background: rgba(0, 0, 0, 0.15);
border-radius: 10px;


/* Rectangle 503 */

position: absolute;
width: 381px;
height: 53px;
left: 607px;
top: 23px;

background: rgba(0, 0, 0, 0.07);
border-radius: 10px;


/* Escribir... */

position: absolute;
width: 362px;
height: 59px;
left: 632px;
top: 21px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000;



/* Polygon 10 */

position: absolute;
width: 57px;
height: 67px;
left: 1058px;
top: 21px;

background: #000000;
border-radius: 5px;
transform: rotate(90deg);


/* ¡Hola! Claro, estaré encantada de ayudarte. Memorizar un libreto puede ser desafiante, pero aquí tienes algunos consejos que pueden ser útiles: desafiante, pero aquí tienes algunos consejos que pueden ser útiles: desafiante, pero aquí tiene. */

position: absolute;
width: 764px;
height: 319px;
left: 483px;
top: 417px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;

color: #000000;



/* Ellipse 6 */

position: absolute;
width: 40px;
height: 40px;
left: 13px;
top: 46.5px;

background: #C7C7EF;


/* Ellipse 7 */

position: absolute;
width: 40px;
height: 40px;
left: 53px;
top: 46.5px;

background: #FF9F9F;


/* Ellipse 8 */

position: absolute;
width: 40px;
height: 40px;
left: 33px;
top: 12px;

background: #FEFE94;


/* person-fill */

position: absolute;
left: 3.26%;
right: 95.9%;
top: 2.39%;
bottom: 96.44%;



/* person-fill */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* person-fill */

position: absolute;
left: 1.88%;
right: 97.29%;
top: 5.81%;
bottom: 93.02%;



/* person-fill */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* person-fill */

position: absolute;
left: 4.65%;
right: 94.51%;
top: 5.81%;
bottom: 93.02%;



/* person-fill */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Polygon 12 */

position: absolute;
width: 6px;
height: 6px;
left: 50px;
top: 52px;

background: #000000;
border-radius: 1px;


/* Rectangle 504 */

position: absolute;
left: 18.77%;
right: 75.25%;
top: -6.69%;
bottom: 101.71%;

background: #D9D9D9;
border-radius: 9px;


/* Rectangle 504 */

position: absolute;
left: 25.07%;
right: 66.67%;
top: -6.74%;
bottom: 101.76%;

background: #D9D9D9;
border-radius: 9px;


/* Rectangle 506 */

position: absolute;
left: 33.68%;
right: 58.75%;
top: -6.74%;
bottom: 101.76%;

background: #D9D9D9;
border-radius: 9px;


/* Chat */

position: absolute;
left: 16.39%;
right: 72.88%;
top: -6.15%;
bottom: 103.03%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;


/* Grupos */

position: absolute;
left: 23.82%;
right: 65.45%;
top: -6.15%;
bottom: 103.03%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;


/* Mundo */

position: absolute;
left: 32.15%;
right: 57.11%;
top: -6.15%;
bottom: 103.03%;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;


/* Rectangle 469 */

position: absolute;
width: 347px;
height: 780px;

background: linear-gradient(0deg, rgba(249, 246, 246, 0.71), rgba(249, 246, 246, 0.71)), rgba(255, 255, 255, 0.36);
border-radius: 30px;


/* Rectangle 470 */

position: absolute;
width: 319px;
height: 754px;

background: #FFFFFF;
border-radius: 30px;


/* Rectangle 471 */

position: absolute;
width: 269px;
height: 130px;

background: #FCFFDD;
border-radius: 10px;


/* Rectangle 473 */

position: absolute;
width: 269px;
height: 130px;

background: #FCFFDD;
border-radius: 10px;


/* Rectangle 472 */

position: absolute;
width: 269px;
height: 130px;

background: #CFEDED;
border-radius: 10px;


/* Rectangle 474 */

position: absolute;
width: 269px;
height: 130px;

background: #CFEDED;
border-radius: 10px;


/* Rectangle 405 */

position: absolute;
width: 5px;
height: 94px;

background: rgba(128, 128, 128, 0.47);
border-radius: 47px;


/* Naufal Aziz 1 */

box-sizing: border-box;

position: absolute;
width: 105px;
height: 103px;

background: url(angyy.png);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Naufal Aziz 2 */

box-sizing: border-box;

position: absolute;
width: 105px;
height: 103px;

background: url(brad.png);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Naufal Aziz 3 */

box-sizing: border-box;

position: absolute;
width: 105px;
height: 103px;

background: url(285957_v9_bc);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Naufal Aziz 4 */

box-sizing: border-box;

position: absolute;
width: 105px;
height: 103px;

background: url(80305875_2589532604457809_1714283999460851712_n);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* + Camila */

position: absolute;
width: 176px;
height: 62px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;



/* Brad */

position: absolute;
width: 107px;
height: 62px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;



/* Mafe */

position: absolute;
width: 107px;
height: 62px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;



/* Andres */

position: absolute;
width: 141px;
height: 62px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;



/* Rectangle 485 */

position: absolute;
width: 269px;
height: 130px;

background: #FCFFDD;
border-radius: 10px;


/* Naufal Aziz 23 */

box-sizing: border-box;

position: absolute;
width: 105px;
height: 103px;

background: url(80305875_2589532604457809_1714283999460851712_n);
border: 2px solid #FF0000;
border-radius: 78.5px;


/* Marlon */

position: absolute;
width: 141px;
height: 62px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;



/* Line 17 */

position: absolute;
width: 269px;
height: 0px;

border: 1px solid #000000;


/* Comunidad */

position: absolute;
width: 345px;
height: 58px;

font-family: 'Coiny';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
text-align: center;

color: #000000;

