
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Coiny";
    src: url("Coiny-Regular.ttf"); /* Reemplaza "Coiny.ttf" con el nombre del archivo de fuente descargado */
}
@font-face {
    font-family: "Outfit";
    src: url("Outfit-VariableFont_wght.ttf"); /* Reemplaza "Coiny.ttf" con el nombre del archivo de fuente descargado */
}
@font-face {
    font-family: "Comfortaa";
    src: url("Comfortaa-VariableFont_wght.ttf"); /* Reemplaza "Coiny.ttf" con el nombre del archivo de fuente descargado */
}

body{
    /* background-color: black;  */
    background: linear-gradient(90deg, #C1DFC4 0%, #DEECDD 100%);
}
.navLired{
background-color: #fcffdd !important;
border-bottom: 4px solid black;
}
.Lired{
    color: black !important;
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 1rem;
}
.botonChat{
background: #CFEDED;
border: 0px ;
border-radius: 10px;
color: black;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;

mix-blend-mode: normal;

}
.menuNav{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    mix-blend-mode: normal;
}
.cajaComunidad{
    width: 347px;
height: 780px;
/* background: linear-gradient(0deg, rgba(249, 246, 246, 0.71), rgba(249, 246, 246, 0.71)), rgba(255, 255, 255, 0.36);
 */
background: white;
border-radius: 30px;
margin-left: 0.5rem;
margin-top: 0.5rem;
}
.cuadroChat{
    width: 970px;
    height: 777px;
    background: #FFFFFF;
    border-radius: 30px;
    margin-left: 2rem;
    margin-top: 0.5rem;
}
.comunidad{
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;

    color: #000000;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid #000000;
}
.cuadroPersona{
    width: auto;
    height: 130px;

    background: #FCFFDD;
    border-radius: 10px;
    margin-bottom: 0.4rem;
}
.cuadroPersona1{
    width: auto;
    height: 130px;

    background: #CFEDED;
    border-radius: 10px;
    margin-bottom: 0.4rem;
}
.imagenComunidad{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #FF0000;
    margin-left: 1.5rem;
}
.notificacionComunidad{
    width: 1rem;
}
.nombreComunidad{
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;

    color: #000000;
}












.visualizar{
    width: 100%;
}
.contenedorGrid{
    display: grid;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: auto;
}
.imgLogo{
    width: 80px;
    height: 80px;    
}
.cajaBuscar{
    width: 381px;
    height: 53px;
    background: rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 0px solid transparent;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    align-items: center;

    color: #000000;
    padding-left: 1rem;
}
.imgFlechaBuscar{
    width: 57px;
    height: 50px;
}
.nombrePerfil{
    font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
/* identical to box height */

color: #000000;
}
.flechaPerfil{
    width: 52px;
    height: 20px;
}
.imagenPefil{
    width: 76px;
    height: 76px;
    border-radius: 100%;
    border: 2px solid #FF0000;
    margin-right: 0.5rem;
}






.contenedor{
    margin-left: 50px;
    margin-right: 50px;
}
/*   .contenedor>img{
    height: 50%;
    width: 50%;
} */
.contenedor>img{
    height: 200px;
    width: 300px;
} 
@media (max-width: 1300px){
    .contenedor>img{
        height: 240px; /* 200px */
        width: 47.1%;/*  31% */
    }
    .contenedor{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
}
@media (max-width: 600px){
    .contenedor>img{
        height: 160px;/* 100px */
        width: 47.1%;/*  31% */
    }
    .contenedor{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
}
@media (max-width: 400px){
    .contenedor>img{
        height: 90px;/*  60px */
        width: 47.1%;/*  31% */
    }
    .contenedor{
    margin-left: 0.5%;
    margin-right: 0.5%;
}
}
.contenidoModal{
    background-color: black;
}
.centrarNumero{
    text-align: center;
}
.centrarWpp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.modal1 {
display: none;
position: fixed;
z-index: 2;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.5);
}

.modal1-content {
background-color: #fefefe;
border-radius: 5px;
padding: 1.5rem;
border: 1px solid #888;
/*  width: 70%; */
}

.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
/* ///////////////////// */
.imgModal{
height: 400px;
width: 500px;
}
@media (max-width: 1300px){
.imgModal{
height: 400px;
width: 500px;
}
}
@media (max-width: 600px){
.imgModal{
    height: 320px;
    width: 400px;
}
}
@media (max-width: 500px){
.imgModal{
    height: 256px;
    width: 320px;
}
}
@media (max-width: 400px){
.imgModal{
    height: 230.4x;
    width: 288px;
}
}
@media (max-width: 300px){
.imgModal{
    height: 164px;
    width: 204.8px;
}
}
@media (max-width: 200px){
.imgModal{
    height: 148px;
    width: 184px;
}
}
@media (max-width: 200px){
.imgModal{
    height: 120px;
    width: 147px;
}
}
/* /////////////////////////// */
p{
margin-bottom: 0.2px;
}
